html, body {
    padding: 0;
    margin: 0;
}


#banner {
    width: 100%;
    height: 200px;
    padding: 20px;
    background-image: url("images/background1.jpg");
    background-repeat: no-repeat;
    justify-content: baseline;
    margin-bottom: 50px;
    z-index: -1;
}

#titulo-pagina {
    color: white;
    text-align: center;
    padding-top: 20pt;
    margin-top: 0pt;
    font-family: 'Roboto Slab', serif;
}

#titulo-post {
    color: white;
    font-family: 'Roboto Slab', serif;
    text-align: center;
}

#imagem-perfil {
    margin-left: auto;
    margin-right: auto;
    margin-top: 30pt;
    margin-bottom: 30pt;
    width: 150px;
    height: 150px;
    border-radius: 50pt;
    border-style: solid;
    border-color: gray;
    display: flex;
}

#img {
    height: 300px;
    width: 400px;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    display: flex;
}

#content {
    padding: 40px;
    margin-left: auto;
    margin-right: auto;
    background: rgba(146, 146, 146, 0.7);
    width: 66.76%;
    height: 180%;
    overflow-y: auto;
}

.post {

    color: darkslategray;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    word-wrap: break-word;
    font-size: 24px;
    font-family: 'Roboto Slab b', serif;
}

.texto {
    
    color: darkslategray    ;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    word-wrap: break-word;
    font-size: 16px;
    font-family: 'Roboto Slab', serif;
    border-bottom-color: white;
    border-bottom-style: solid;
}

.quote {

    color: darkslategray    ;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 5px;
    word-wrap: break-word;
    font-size: 12px;
    font-family: 'Roboto Slab', serif;
}

.container {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    margin: 0 auto;
}

.container-block {
    margin-top: 20px;
    justify-content: center;
    box-sizing: content-box;
    width: auto;
    height: 80%;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 25px;
    padding-bottom: 10px;
}
